<div>
  <h2 id="my-dialog-title">Join room</h2>
  <div id="my-dialog-content">
      Enter ID for room to join:
      <div>
          <input type="text" id="room-id" #roomInput>
          <label for="my-text-field">Room ID</label>
      </div>
  </div>
  <footer>
    <button type="button" (click)="dialogRef.close(false)">
      <span>Cancel</span>
    </button>
    <button
      id="confirmJoinBtn"
      type="button"
      (click)="dialogRef.close(roomInput.value)"
    >
      <span>Join</span>
    </button>
  </footer>
</div>
