<div class="video">
  <video *ngIf="!!streamService.localStream" [muted]="true" autoplay playsinline [srcObject]="streamService.localStream"></video>
  <video *ngFor="let remote of (streamService.remoteStreams$ | async) | keyvalue" autoplay playsinline [srcObject]="remote.value"></video>
</div>
<div class="buttons">
  <button color="primary" (click)="streamService.openLocalStream()">Open local stream</button>
  <button color="primary" (click)="rtcService.createRoom()">Create Room</button>
  <button color="danger" (click)="streamService.closeLocalStream()">Close local stream</button>
  <button color="danger" (click)="rtcService.hangUp()">Hang Up</button>
</div>
<ul class="rooms">
  <li *ngFor="let room of rooms">
    <span>{{room}}</span>
    <button *ngIf="room !== rtcService.currentRoom; else joined" color="success" (click)="rtcService.joinRoom(room)">Join room</button>
    <ng-template #joined>
      <span>Joined</span>
    </ng-template>
  </li>
</ul>
