<div class="host">
  <div class="start" *ngIf="!streamService.localStream; else enterRoom">
    <h1><span>Enter</span> the name of the room you want to <span>Enter</span> and hit <span>Enter</span>!</h1>
    <input id="room" [(ngModel)]="roomName" [value]="roomName" (keypress)="submit($event)">
  </div>
  <ng-template #enterRoom>
    <div class="room">
      <div class="screen">
        <div class="self">
          <span>{{streamService.localStream?.id}}</span>
          <video [muted]="true" autoplay playsinline [srcObject]="streamService.localStream"></video>
        </div>
        <mat-grid-list class="remote" [cols]="getCols()" rowHeight="fit">
          <mat-grid-tile class="remote-tile" *ngFor="let remote of streamService.remoteStreams | keyvalue">
            <span class="name">{{remote.key}}</span>
            <video autoplay playsinline [srcObject]="remote.value"></video>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="chat">
        <button color="danger" (click)="rtcService.leaveRoom(roomName)">Leave room</button>
      </div>
    </div>
  </ng-template>
</div>
