:host {
  .video {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    video {
      width: 480px;
      height: 270px;
      background: black;
    }
  }
}
