<div class="video">
  <div class="box">
    <p>{{streamService.localStream?.id}}</p>
    <video *ngIf="!!streamService.localStream" [muted]="true" autoplay playsinline [srcObject]="streamService.localStream"></video>
  </div>
  <div class="box" *ngFor="let remote of (streamService.remoteStreams$ | async) | keyvalue">
    <p>{{remote.value?.id}}</p>
    <video autoplay playsinline [srcObject]="remote.value"></video>
  </div>
</div>
<div class="buttons">
  <button color="primary" (click)="streamService.openLocalStream()">Open local stream</button>
  <button color="danger" (click)="streamService.closeLocalStream()">Close local stream</button>
  <button color="danger" (click)="streamService.toggleAudioSelf()">{{'Toggle audio self'}}</button>
  <button color="danger" (click)="streamService.toggleAudioOthers()">{{'Toggle audio others'}}</button>
  <button color="danger" (click)="streamService.toggleAudioAll()">{{'Toggle audio all'}}</button>
  <button color="danger" (click)="rtcService.enterRoom('testRoom')">Join room</button>
  <button color="danger" (click)="rtcService.leaveRoom('testRoom')">Leave room</button>
</div>
